<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandadentist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--wifi 配网demo-->
    <uses-feature android:required="true" android:name="android.hardware.wifi"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:name="com.pandadentist.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.pandadentist.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.BleTestActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            />

        <activity android:name=".ui.activity.LanguageSwitchActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.hiflying.smartlink.v7.MulticastSmartLinkerActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:label="MulticastSmartLinkerActivity"/>
        <activity android:name=".ui.activity.SmartLinkerWrapperActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.AddDeviceActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.pandadentist.ui.activity.UrlDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".ui.activity.ConfigWifiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ConnectWifiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configwifi.android.WifiConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configwifi.android.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configwifi.android.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.EmailRegisterActivity"
            android:screenOrientation="portrait"
            />
        <service android:enabled="true" android:name=".service.UartService" />
    </application>

</manifest>